[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
tqdm = "*"
pyarrow = "*"
mplsoccer = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
